
.hero-text {
    font-size: 5rem;
    text-transform: uppercase;
    padding: 7rem;
}

.btn {
    width: fit-content;
    text-transform: uppercase;
    font-size: 0.8rem;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}

ul {
    padding: 0 7rem;
}

.navbar-brand {
    padding-left: 7rem;
}

@media (max-width: 768px) { 
    .hero-text {
        font-size: 3rem;
    }
    .btn {
        margin-top: 100px;
    }
}

.original, .blurry-text {
    text-transform: uppercase;
}

.original {
    font-size: 3rem;
}

.about-title {
   position: relative;
}

.blurry-text {
    font-size: 4rem;
    color:rgba(218,223,227,0.6); 
    position: absolute; 
    top: -30px;
    left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
    z-index: -1;

}

.about hr {
    width: 200px;
    border: solid 1px red;
}

.about-text {
    max-width: 800px;
}

.menu-line {
    max-width: 700px;
    margin-bottom: 3rem;
}

.menu-line p {
    margin: 0
}


.menu-line hr {
    border: 0.5px dotted grey;
    margin-bottom: 0;
}

.ingredients {
    padding: 0;
    color: grey;    
}

.promotion {
    width: 100%;
}

/* .breakfast-lunch-menu {
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 10px;
}

.item3 {
    grid-column: 1/ span 2; 
} */

.img-grid {
    max-width: 100vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    padding: 5px;
}

.img-grid img {
    max-width: 100%; 
}

.item4 {
    grid-row: 2/span 2;
}

.booking-title {
    position: relative;
 }

 .maps {
     max-width: 50%;
 }

 .maps img {
     max-width: 100%;
 }

 .button-wrap {
     text-align: center;
 }

 .footer-title {
     text-transform: uppercase;
     font-weight: 700;
     padding-top: 20px;
     font-size: 20px;
 }

 .page-footer {
     background-color:#2f2a38;
     color: white;
     padding: 20px;
 }

 i.fab {
     color: grey;
     font-size: 18px;
     padding: 0 10px;
 }

 i.fab:hover {
     color: white;
 }

 .page-footer p:not(.footer-title) {
     color: grey;
     line-height: 10px;
 }

 #nav-bar-bottom {
     background-color: black;
 }

 #nav-bar-bottom a {
     color: white;
 }